scripts/tactical_bot/n8n_workflow.json
{
  "name": "Stoic Tactical Bot - Telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "stoic-tactical-bot"
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {
          "systemMessage": "You are the Head Quantitative Analyst and Tactical Research Bot for Stoic Market Research.\nYour primary directive is to provide highly precise, mathematically backed, and brutally objective market analysis based EXCLUSIVELY on the proprietary 'Tactical Cross-Asset Outlook' report provided in your knowledge base.\n\nCORE RULES:\n1. NEVER invent data, sentiment scores, or probabilities.\n2. ALWAYS reference the \"Score de sentimento agregado\" (-42) and the \"Veredicto\" (RISCO-OFF FIRME) when discussing general market conditions.\n3. Be brutally direct.\n4. When discussing assets, use the exact metrics (Entry, Stop, Targets) provided in the Trade Book.\n5. Highlight macro triggers (e.g., \"NVDA earnings\", \"Guerra EUA-Irã\").\n\n[PASTE KNOWLEDGE BASE TEXT HERE]"
        }
      },
      "id": "anthropic-node",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Anthropic Chat Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7d23fc1-9b19-4a0e-a611-6b2c4e1a0b3f",
  "meta": {
    "instanceId": "stoic-n8n"
  },
  "id": "stoic-tactical-bot",
  "tags": []
}
